@import "tailwindcss";

@theme {
  /* Changing the default fontFamily to Poppins */
  --font-sans: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;

  --color-primary: #f7ce46;
  --breakpoint-xl: 1360px;
  --breakpoint-2xl: 1920px;
  --breakpoint-3xl: 2560px;
  --breakpoint-4xl: 3840px;

  /* --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  } */
}

.swiper-slide {
  max-width: fit-content;
}
